
output "DP-1" {
    // Run `niri msg outputs` while inside a niri instance to list all outputs and their modes.
    mode "1920x1080@144"
    scale 1
    transform "normal"
    position x=0 y=0
}

output "HDMI-A-1" {
    mode "1280x1024@75.025"
    scale 1
    transform "normal"
    position x=1920 y=0
}

